main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
}
.carousel a {
	margin: 0 auto;
}

.text-centered-landing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.8rem;
	line-height: 1.07143;
	font-weight: 900;
	letter-spacing: 3px;
}

.nav-bar-bg {
	background-color: #b38f6f;
}

.product-image:hover {
	border: 1px solid #e4e4e4;
	box-shadow: 3px 8px 6px -3px #c7c5c5;
}

.product-image {
	border: 1px solid #f2f2f2;
}
